@page "/purchase-form/{Id?}"
@using Client.Shared.Pages.Shared
@using Client.Shared.Services
@inject IStringLocalizer<Shared> L
@inject SupplierService SupplierService
@inject PurchaseService PurchaseService
@inject ProductService ProductService
@inject NavigationManager Navigation

<MudForm @ref="form" Model="Purchase">
    <MudGrid Spacing="5">
        <MudItem xs="12" md="4">
            <MudItem>
                Po No : @Purchase.PurchaseNo
            </MudItem>
            <MudDatePicker Label="MM/dd/yyyy" Margin="Margin.Dense" Editable="true" @bind-Date="Purchase.PurchaseDate"
                DateFormat="MM/dd/yyyy" Placeholder="en-US Date" Variant="Variant.Outlined" />
        </MudItem>

        <MudItem xs="12" md="4">
            <MudItem>
                Po No : @Purchase.PurchaseNo
            </MudItem>
            <MudAutocomplete T="SupplierDto" Margin="Margin.Dense" Label="Vendor" @bind-Value="SelectedSupplier"
                SearchFunc="SearchSuppliers" ToStringFunc="x => x?.Name" Dense="true" Variant="Variant.Outlined"
                Style="width:100%;" />
        </MudItem>

        <MudItem xs="12" md="4">
            <MudItem>
                Po No : @Purchase.PurchaseNo
            </MudItem>
            <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" T="string" Lines="2" Label="Ship To">
            </MudTextField>
        </MudItem>
    </MudGrid>


    <MudGrid>
        <MudItem xs="12" sm="6" md="9">
            <MudAutocomplete T="Item" Label="@L["Search"]" @bind-Value="SelectedItem" SearchFunc="SearchItems"
                ToStringFunc="x => x?.Name" Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true" Class="w-50">
                <ItemTemplate>
                    <div style="display: flex; flex-direction: column;">
                        <!-- Header / main text -->
                        <span style="font-weight: 600; font-size: 1rem;">@context.Name</span>

                        <!-- Subtext / smaller, muted -->
                        <span style="font-size: 0.85rem; color: gray;">
                            @context.LocalName | Qty: @context.Quantity
                        </span>
                    </div>
                </ItemTemplate>

            </MudAutocomplete>

            <MudTable Items="@Purchase.Items" CustomFooter=true Hover="true" Dense="true" Bordered="false"
                Elevation="0">

                <RowTemplate>
                    <MudTd>
                        <div style="display: flex; flex-direction: column;">
                            <!-- Header / main text -->
                            <span style="font-weight: 600; font-size: 1rem;">@(@Purchase.Items.IndexOf(context) + 1).
                                @context.Name | @context.PartNo</span>

                            <!-- Subtext / smaller, muted -->
                            <span style="font-size: 0.85rem; color: gray;">
                                @context.LocalName | Qty: @context.Quantity | Br: @context.BrandName
                            </span>
                        </div>
                    </MudTd>

                    <MudTd>
                        <MudNumericField @bind-Value="context.Quantity" Margin="Margin.Dense" Variant="Variant.Outlined"
                            Dense="true" Min="1" />
                    </MudTd>

                    <MudTd>
                        <MudNumericField @bind-Value="context.Price" Margin="Margin.Dense" Variant="Variant.Outlined"
                            Dense="true" Min="0" />
                    </MudTd>

                    <MudTd>

                        <div style="display: flex; align-items: center; justify-content: space-between; gap: 0.5rem;">
                            <span>@(context.Quantity* context.Price)</span>
                            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" Size="Size.Small"
                                OnClick="() => RemoveItem(context)" />
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudNumericField Margin="Margin.Dense" HideSpinButtons=true Variant="Variant.Outlined"
                Label="Advacnd Amount" Disabled=true @bind-Value="Purchase.AdvacedAmount" />

            <MudNumericField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Deliver Charge"
                @bind-Value="Purchase.DeliveryCharge" Min="1" HideSpinButtons=true />

            <MudNumericField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Discount"
                @bind-Value="Purchase.DiscountAmount" Min="1" HideSpinButtons=true />

            <MudGrid>
                <MudItem xs="12" sm="6" md="6">
                    <MudNumericField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Tax(%)"
                        @bind-Value="Purchase.Tax" Min="1" HideSpinButtons=true />
                </MudItem>
                <MudItem xs="12" sm="6" md="6">
                    <MudNumericField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Vat(%)"
                        @bind-Value="Purchase.Vat" Min="1" HideSpinButtons=true />
                </MudItem>
            </MudGrid>

            <MudSelect T="int" Label="Payment Type" @bind-Value="Purchase.PaymentType" Variant="Variant.Outlined"
                Margin="Margin.Dense">
                <MudSelectItem Value="1">Cash</MudSelectItem>
                <MudSelectItem Value="2">Bank</MudSelectItem>
                <MudSelectItem Value="3">Bikash</MudSelectItem>
                <MudSelectItem Value="4">Nagad</MudSelectItem>
            </MudSelect>

            @if (Purchase.PaymentType == 2 || Purchase.PaymentType == 3 || Purchase.PaymentType == 4)
            {
                <MudTextField T="string" Label="Ref Note" Lines="2" Variant="Variant.Outlined" Margin="Margin.Dense"
                    @bind-Value="Purchase.RefNote" />
            }

            <MudNumericField Margin="Margin.Dense" HideSpinButtons=true Variant="Variant.Outlined" Label="Payment"
                @bind-Value="Purchase.PaidAmount" Min="1" />

        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem xs="12" sm="6" md="8">


        </MudItem>
    </MudGrid>


    <div class="flex flex-row justify-end space-x-2">
        <MudButton Color="Color.Primary" OnClick="Submit">Save As Draft</MudButton>
        <MudButton Color="Color.Error" OnClick="Cancel">Cancel</MudButton>
    </div>


</MudForm>

@code {
    [Parameter] public string Id { get; set; } = string.Empty;
    private Item _selectedItem;
    private SupplierDto SelectedSupplier;
    private bool Success;
    private bool IsEditMode => !string.IsNullOrEmpty(Purchase.Id);

    private MudForm? form;

    PurchaseFormModel Purchase = new PurchaseFormModel();

    private Item SelectedItem
    {
        get => _selectedItem;
        set
        {
            if (_selectedItem != value)
            {
                _selectedItem = value;
                if (_selectedItem != null)
                    AddItem(_selectedItem); // add item on selection
            }
        }
    }

    private bool selectedOnTab;

    private double total => Purchase.Items.Sum(x => x.Quantity * x.Price);

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            var purchase = await PurchaseService.GetByIdAsync(Id);

            if (purchase is not null)
            {
                Purchase = new PurchaseFormModel()
                {
                    Id = purchase.Id,
                    PurchaseNo = purchase.PurchaseNo,
                    PurchaseDate = purchase.PurchaseDate,
                    Status = purchase.Status,
                    TotalAmount = purchase.TotalAmount,
                    DeliveryCharge = purchase.DeliveryCharge,
                    DueAmount = purchase.DueAmount,
                    PaidAmount = purchase.PaidAmount,
                    Tax = purchase.Tax,
                    Vat = purchase.Vat,
                    DiscountAmount = purchase.DiscountAmount,
                    Items = purchase.Items.Select(x =>
                    {
                        return new Item()
                        {
                            Id = x.Id,
                            Name = x.LocalName,
                            LocalName = x.LocalName,
                            BrandName = x.LocalName,
                            PartNo = x.partNo,
                            Quantity = x.RemainingQuantity,
                            Price = x.UnitPrice
                        };
                    }).ToList()
                };

                SelectedSupplier = await SupplierService.GetByIdAsync(purchase.Supplier.Id);
            }
        }
    }

    private async Task Submit()
    {
        if (form is null) return;
        if (!form.IsValid) return;

        try
        {
            if (IsEditMode)
            {
                await PurchaseService.UpdateAsync(Purchase.Id, new CreatePurchaseDto(
                Purchase.PurchaseNo,
                SelectedSupplier.Id,
                Purchase.PurchaseDate.Value,
                Purchase.DeliveryCharge,
                Purchase.Vat,
                Purchase.Tax,
                Purchase.DiscountAmount,
                Purchase.PaidAmount,
                Status.Draft,
                Purchase.Items.Select(x => new CreatePurchaseItemDto(x.Id, x.Quantity, x.Price))
                .ToList()));
            }

            else
            {
                await PurchaseService.CreateAsync(new CreatePurchaseDto(
                Purchase.PurchaseNo,
                SelectedSupplier.Id,
                Purchase.PurchaseDate.Value,
                Purchase.DeliveryCharge,
                Purchase.Vat,
                Purchase.Tax,
                Purchase.DiscountAmount,
                Purchase.PaidAmount,
                Status.Draft,
                Purchase.Items.Select(x => new CreatePurchaseItemDto(x.Id, x.Quantity, x.Price))
                .ToList())
                );
            }

            Navigation.NavigateTo("/purchases");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void AddItem(Item item)
    {
        var exist = Purchase.Items.Find(x => x.Id == item.Id);
        if (exist is null)
        {
            Purchase.Items.Add(new Item
            {
                Id = item.Id,
                Name = item.Name,
                LocalName = item.LocalName,
                PartNo = item.PartNo,
                BrandName = item.BrandName,
                Quantity = 1,
                Price = 0
            });
        }
        else
        {
            exist.Quantity++;
        }

        _selectedItem = null;
    }


    private void RemoveItem(Item item)
    {
        Purchase.Items.Remove(item);
    }

    private async Task<IEnumerable<SupplierDto>> SearchSuppliers(string value, CancellationToken cancellationToken)
    {
        var result = await SupplierService.GetAsync(search: value ?? string.Empty);

        return result.Data.Select(x => new SupplierDto(x.Id, x.Name, x.Phone, x.Email, x.Address));
    }

    private async Task<IEnumerable<Item>> SearchItems(string value, CancellationToken cancellationToken)
    {
        var result = await ProductService.GetAsync(search: value ?? string.Empty);

        return result.Data.Select(x => new Item()
        {
            Id = x.Id,
            Name = x.LocalName,
            PartNo = x.PartNo,
            Price = 0,
            BrandName = x.Brand.Name,
            LocalName = x.LocalName
        });
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/purchases");
    }


    public class PurchaseFormModel
    {
        public string Id { get; set; } = string.Empty;
        private string _purchaseNo = $"P-{DateTime.Now:yyMMdd}-{Guid.NewGuid().ToString()[..3].ToUpper()}";

        public string PurchaseNo
        {
            get => _purchaseNo;
            set => _purchaseNo = value;
        }

        private DateTime? _purchaseDate = DateTime.Now;

        public DateTime? PurchaseDate
        {
            get => _purchaseDate;
            set => _purchaseDate = value;
        }

        public string Status { get; set; }
        public double PaidAmount { get; set; }

        public double PaymentDue => (Subtotal + DeliveryCharge + Tax + Vat) - DiscountAmount;

        public double Subtotal => Items.Sum(x => x.Quantity * x.Price);
        public double TotalAmount { get; set; }
        private double _dueAmount { get; set; }

        public double DueAmount
        {
            get => _dueAmount;
            set => _dueAmount = TotalAmount - PaidAmount;
        }

        public int PaymentType { get; set; } = 0;
        public string RefNote { get; set; } = string.Empty;

        public double Tax { get; set; }
        public double Vat { get; set; }
        public double DiscountAmount { get; set; }
        public double DeliveryCharge { get; set; }
        public double AdvacedAmount { get; set; }
        public List<Item> Items { get; set; } = new List<Item>();
    }

    public class Item
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public string LocalName { get; set; }
        public string PartNo { get; set; }
        public string BrandName { get; set; }
        public int Quantity { get; set; }
        public double Price { get; set; }
    }

}